<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' debug="true" >

    <!-- log4j.xml.production -->

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %t [%c{1}] %m%n"/>
            <!-- <param name="ConversionPattern" value="%d %p %t [%c] %m%n"/> -->
        </layout>
    </appender>

    <appender name="FileAppender" class="org.apache.log4j.FileAppender">
        <param name="File" value="/Users/ben/presentations/n4j/ng-examples/03-smart/log.out"/>
        <param name="Append" value="false"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %t [%c{1}] %m%n"/>
            <!--param name="ConversionPattern" value="%d %p %t [%c] %m%n"/-->
        </layout>
    </appender>

    <category name="com.myapp">
        <level value="debug"/>
    </category>

    <category name="org.hibernate.sql">
        <level value="debug"/>
    </category>

    <category name="org.hibernate">
        <level value="warn"/>
    </category>

    <category name="org.hsqldb">
        <level value="warn"/>
    </category>

    <category name="javax.persistence">
        <level value="warn"/>
    </category>


    <category name="org.springframework">
        <level value="warn"/>
    </category>

    <category name="org.springframework.security">
        <level value="debug"/>
    </category>



    <root>
        <level value="warn"/>
        <appender-ref ref="FileAppender"/>
    </root>





</log4j:configuration>